body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;
}

.Aboutus-Main-Container{

    width: 90%;
    max-width:1300px;

    margin: auto;

    display: flex;
    flex-direction: column;

    gap: 80px;

    padding: 50px 0;
}

.hero{
    background: linear-gradient(135deg,#7b2ff7,#c471ed);

    color: white;

    padding: 90px 30px;

    text-align: center;

    margin-bottom: 50px;
}

.hero h1{
    font-size: 3rem;
}

.hero p{
    font-size: 1.3rem;
    margin-top: 15px;
}

.Section-1{

    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 60px;

}

/* row-reverse*/

.reverse{
    flex-direction: row-reverse;
}

.Welcome-Dropvaults-container{
    flex: 1;
}

.Welcome-Dropvaults-container h2{
    color: #6f00b5;

    margin-bottom: 20px;

    font-size: 2rem;
}

.Welcome-Dropvaults-container p{
    line-height:2;
    font-size:1.1rem;
    
    text-align:justify;
    padding: 20px;
}

.Image-Container1{

    flex:1;

    width: 100%;
    max-width: 500px;

    height: 350px;

    object-fit: cover;

    border-radius: 15px;

    box-shadow: 0 15px 40px rgb(0,0,0,0.2);
}

.Section-2{

    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 60px;

}


.Why-Dropvaults-container h2{

    font-size: 2rem;

    color:#6f00b5;

    margin-bottom: 20px;

}


.Why-Dropvaults-container p{

   line-height:2;

   font-size:1.1rem;

   text-align:justify;

   padding: 20px;

}

.Image-Container2{

    flex:1;

    width: 100%;
    max-width: 500px;

    height: 350px;

    object-fit: cover;

    border-radius: 15px;

    box-shadow: 0 15px 40px rgb(0,0,0,0.2);
    
}



